/* Moved .keyboard to styled component in Keyboard.js */

.keyboard-row {
  display: flex;
}

.keyboard-keysSet {
  display: flex;
  flex-grow: 1;
}

.keyboard-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-basis: 5.5em;
  height: 3.3333333333em;
  margin: 5px;
  border-radius: 4px;
  background-color: #444;
  border: 1px solid #888;
  font-size: 1em;
  font-family: 'Lato', 'Roboto', sans-serif;
  font-weight: 300;
  color: #fff;
}

.keyboard-button:focus {
  outline: none;
}

.keyboard-button:disabled {
  opacity: 0.4;
  cursor: default;
}

.keyboard-button:active {
  background-color: #888;
}

.keyboard-numberButton {
  flex-grow: 1;
}

.keyboard-halfButton {
  flex-basis: 2.75em;
}

.keyboard-space,
.keyboard-spaceButton {
  flex-grow: 1;
}

.keyboard-utilButton {
  flex-grow: 2;
  max-width: 3em;
}

.keyboard-additionalButton {
  flex-basis: 7em;
}

.keyboard-submit-button {
  flex-basis: 8em;
  background-color: #63b324;
  border-color: #63b324;
  color: #fff;
}

.numeric-keyboard {
  width: auto;
}

.numeric-keyboard .keyboard-button {
  width: 4em;
  flex-basis: auto;
}

.numeric-keyboard .keyboard-submit-button {
  flex: 1;
  width: auto;
}
